/vendor
/node_modules
/public/hot
/public/storage
/public/avatars
/public/0.js
/public/mix-manifest.json
/public/uploads
/public/files
/public/blocks
/public/data
/public/image_news
/public/images/documents
/public/exchange
/public/products
/public/slider
/public/messages
/public/exchange1с
/public/old_exchange
/public/taskimg
/public/text_load.json
/public/assets
/public/js
/storage/*.key
/vendor
.env
.env.backup
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
composer.lock
/public/cron.txt
/public/products.yml
/public/productsYandex.yml
/public/options
/package-lock.json
